main{
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    
}
.buttonsNumbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.number{
    padding: 10px;
    margin: 25px;
}
.visor input{
    width: 100%;
}
.operadores{
   display: flex;
   
}
button.operator {
    padding: 10px;
    margin: 10px;
}